<div style = "display: flex;">
<form action="/" method="GET">
      <button class="btn btn">Пользователи</button>
    </form>

<form action="/carriages" method="GET">
      <button class="btn btn">Вагоны</button>
    </form>

<form action="/cargos" method="GET">
      <button class="btn btn">Грузы</button>
    </form>
    
<form action="/shipments" method="GET">
      <button class="btn btn">Отправки</button>
    </form>    
</div>